Hello {{product/name}}
{{> figure hero}}
{{> offer}}
{{#with figures}}
<div class="tabs tabs--bubble">
  {{#each sections}}
      <input id="{{id}}-visible"
             type="radio"
             name="tabs"{{#if @first}} checked{{/if}}>{{/each}}
  {{#with header}}<h2>{{#with title}}{{.}}{{/with}}</h2>{{/with}}
    <menu>
      {{#each sections}}
          <label for="{{id}}-visible">{{label}}</label>{{/each}}
    </menu>
  {{#each sections}}
      <section>
        {{> figure .}}
      </section>
  {{/each}}
</div>
{{/with}}
